
<div class="mt-30 row">

    {{- if .PrevInSection -}}
    <div class="col-md-6 post-pre">
        <a href='{{ .PrevInSection.Permalink | relURL }}'>
            <div class="author">
                <div class="author-info">
                    {{- $title := .PrevInSection.Title -}}
                    {{- with .PrevInSection.Params.authors -}}
                    {{- range $i, $authorID := . -}}
                    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                    <h2 class="post-title">{{- $title -}}</h2>
                    {{- if $author.info.image -}}
                    <img class="img-circle" alt="" src="{{ $.Site.BaseURL | relURL }}{{ $author.info.image }}"/>
                    {{- else -}}
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    {{- end -}}
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</h3>
                    <p>{{- $author.info.description -}}</p>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </a>
    </div>
    {{- end -}}

    {{- if .NextInSection -}}
    <div class="col-md-6 post-next">
        <a href='{{ .NextInSection.Permalink | relURL }}'>
            <div class="author">
                <div class="author-info">
                    {{- $title := .NextInSection.Title -}}
                    {{- with .NextInSection.Params.authors -}}
                    {{- range $i, $authorID := . -}}
                    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                    <h2 class="post-title">{{- $title -}}</h2>
                    {{- if $author.info.image -}}
                    <img class="img-circle" alt="" src="{{ $.Site.BaseURL | relURL }}{{ $author.info.image }}"/>
                    {{- else -}}
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    {{- end -}}
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</h3>
                    <p>{{- $author.info.description -}}</p>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </a>
    </div>
    {{- end -}}
</div>
