{{ if not ( eq .Section "page" ) }}
<div class="single-post-footer">
    <div class="tag">
        {{ range $taxonomy, $pages := .Site.Taxonomies }}
            {{- if not ( eq $taxonomy "authors" ) -}}
                {{- if not ( eq $taxonomy "categories" ) -}}
                    {{- if ( index $.Params $taxonomy ) -}}
                        {{- $.Scratch.Set "taxonomy" $taxonomy -}}
                        {{- partial "entry/taxonomy-list" $ -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{ end }}
    </div>
</div>
{{ end }}

<div class="box">
    <span class="recommended"><a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a> 10</span>
    <span class="comment right"><a href=""><i class="fa fa-comment-o" aria-hidden="true"></i></a> 20</span>
</div>
