<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}' class='svgfilters csscalc cssgradients preserve3d supports svgclippaths svgasimg no-touchevents cssanimations boxsizing csstransforms csstransforms3d csstransitions svg'>

{{ partial "head/head" . }}

<body naver_screen_capture_injected="true" class='{{ partial "header/bodyClasses" . }} hasScrollbar'>

    {{ partial "nav/menus/main" . }}

    <div class="offcanvas-wrapper">
        <section class="visual-area text-center">
            <div class="visual">
                {{ if eq .Kind "home" }}
                <h3>{{ .Site.Title }}</h3>
                {{ else }}
                <p>{{ .Site.Title }}</p>
                {{ end }}
                <p>{{ .Site.Params.info.description }}</p>
            </div>
        </section>
