<span class='copyright'><b>
    {{- with .Site.Copyright -}}
        {{ . }}
    {{- else -}}
        {{- with .Site.Params.copyright -}}

        {{ with .startyear }}
            {{ if lt ( int . ) now.Year }}
            {{ $.Scratch.Set "copyrightStartYear" . }}
            {{ end }}
        {{ end }}

        {{ .prefix | markdownify }} &copy; {{ with ( $.Scratch.Get "copyrightStartYear" ) }}{{ . }}-{{ end }}{{ now.Year }}
        {{ if .text }}{{ .text }}{{ end }}<span>{{ or .holder $.Site.Title | markdownify }}</span> {{ .suffix | markdownify }}
        {{- end -}}
    {{ end }}
</span></b>
