<footer class="site-footer">
    <div class="container">

        <ul class="sns">

            {{ partial "component/social/contact" . }}

            {{ if .Site.Params.contribute.enabled }}
            <li>
                <a class='social-button' href='/contribute/' target='_blank' rel='noopener'>
                    <i class='fa fa-book' aria-hidden='true'></i>
                </a>
            </li>
            {{ end }}

        </ul>

        {{ partial "footer/copyright" . }}

    </div>
</footer>
