<script src='{{ print "/assets/js/" .Site.Data.assets.main.js | relURL }}'></script>

<script type="text/javascript">
    {{ if .Site.IsMultiLingual }}
        var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
    {{ else }}
        var baseurl = "{{.Site.BaseURL}}";
    {{ end }}
</script>

{{- range .Site.Params.assets.customJS -}}
<script src='{{ . | relURL }}'></script>
{{- end -}}

<script type="text/javascript">
$( document ).ready(function() {
    var num = 0;
    {{ range $index, $main := ( first .Site.Params.settings.recentPostsLength ( where .Data.Pages "Type" "ne" "page" ) ) }}
        {{ if .Params.cover }}
        num += 1;
        {{ end }}
    {{ end }}
    if (num == 0) {
        $('#main-post').remove();
    } else {
        var grid = "cover-grid" + num;
        $("#main-post").addClass(grid);
    }
});
</script>
