<div class='container'>
    <section id="main-post" class="cover">
        {{ range $index, $main := ( first .Site.Params.settings.recentPostsLength ( where .Data.Pages "Type" "ne" "page" ) ) }}
        {{ if .Params.cover }}
        <article class="cover-story">
            {{- with .Params.cover -}}
            {{- $type := ( printf "%T" . ) -}}
            {{- $isMap := ( not ( eq $type "string" ) ) -}}
            <div class="cover-image" src="{{ $.Site.BaseURL }}{{ if $isMap }}{{ .image }}{{ else }}{{ . }}{{ end }}" style="background-image: url({{ $.Site.BaseURL }}{{ if $isMap }}{{ .image }}{{ else }}{{ . }}{{ end }});"></div>
            {{- end -}}
            <a class="cover-trigger"></a>
            <div class="cover-gradient"></div>
            <div class="cover-header">
                <p class="cover-section">
                    {{ if .Params.tags }}
                        {{ partial "meta/tags" .}}
                    {{ end }}
                </p>
                <h2 class="cover-title">
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
                <ul class="cover-byline">
                    <li>
                        {{ i18n "by" }}&nbsp;
                        {{- partial "meta/author-name" . -}}
                    </li>
                    <li>
                        {{- partial "meta/posting-date" . -}}
                    </li>
                    {{ if .Site.Params.settings.showReadingTime }}
                    <li>
                        {{- partial "meta/reading-time" . -}}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </article>
        {{ end }}
        {{ end }}
    </section>
</div>
