<div class='container'>
    {{ range $index, $main := ( first .Site.Params.settings.recentPostsLength ( where .Data.Pages "Type" "ne" "page" ) ) }}
    {{ if .Params.cover }}
    <article class="cover cover-story col-lg-12 col-md-12 col-sm-12 ">
        <div class="cover1 col-md-12">
            {{- with .Params.cover -}}
            {{- $type := ( printf "%T" . ) -}}
            {{- $isMap := ( not ( eq $type "string" ) ) -}}
            <img class="cover-image" src="{{ .Permalink }}{{ if $isMap }}{{ .image }}{{ else }}{{ . }}{{ end }}" style="background-image: url({{ $.Permalink }}{{ if $isMap }}{{ .image }}{{ else }}{{ . }}{{ end }});" />
            {{- end -}}

            <a class="cover-trigger"></a>

            <div class="cover-header">
                <p class="cover-section">
                    {{ if .Params.tags }}
                        {{ partial "meta/tags" .}}
                    {{ end }}
                </p>
                <h2 class="cover-title">
                    <a href="{{ .URL }}">{{ .Title }}</a>
                </h2>
                <ul class="cover-byline">
                    <li>
                        {{ i18n "by" }}&nbsp;
                        {{- partial "meta/author-name" . -}}
                    </li>
                    <li>
                        {{- partial "meta/posting-date" . -}}
                    </li>
                    {{ if .Site.Params.settings.showReadingTime }}
                    <li>
                        {{- partial "meta/reading-time" . -}}
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </article>
    {{ end }}
    {{ end }}
</div>
