<div class="container">
    <section class="cover cover-grid3">
        {{ range ( first .Site.Params.settings.recentPostsLength ( where .Data.Pages "Type" "ne" "page" ) ) }}
            <article class="cover-story">
                {{- with .Params.cover -}}
                {{- $type := ( printf "%T" . ) -}}
                {{- $isMap := ( not ( eq $type "string" ) ) -}}
                <div class="cover-image" src="{{ if $isMap }}{{ .image }}{{ else }}{{ . }}{{ end }}" style="background-image: url(img/post/blog-home-img1.png);"></div>
                {{- end -}}
                <a class="cover-trigger"></a>
                <div class="cover-gradient"></div>
                <div class="cover-header">
                    <h5 class="cover-section">
                        {{ if .Params.tags }}
                            {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" rel="tag">{{ . }}</a>{{ end }}
                        {{ end }}
                    </h5>
                    <h2 class="cover-title"><a href="{{ .URL }}">{{ .Title }}</a></h2>
                    <ul class="cover-byline">
                        {{- with .Params.authors -}}
                        {{- $lang := ( $.Params.lang | default $.Lang ) -}}
                        <li>{{ i18n "by" }}&nbsp;
                            {{- range $i, $authorID := . -}}
                                {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                                {{- $i18nAuthor := ( index $author $lang ) -}}
                                {{- $name := ( or $i18nAuthor.name $author.name ) -}}
                                {{- if gt $i 0 }}, {{ end -}}
                                <a href='{{ $.LanguagePrefix }}/authors/{{ $author.id }}'>
                                    {{- $name.display -}}
                                </a>
                            {{- end -}}
                        </li>
                        {{- end -}}
                        {{ if .Site.Params.settings.showReadingTime }}
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>
                            {{ i18n "readingTime" .ReadingTime }}
                        </li>
                        {{ end }}
                      </ul>
                    </div>
                  </article>
        {{ end }}
    </section>
</div>
