{{ define "main" }}

<body naver_screen_capture_injected="true" class='hasScrollbar'>

    {{ partial "nav/menus/mobile" . }}

    {{ partial "header/header" . }}

    <div class='offcanvas-wrapper'>


                    <h1 class='title'>
                        {{- if eq .Kind "taxonomy" -}}
                        <span class='taxonomy-type'>
                            {{- ( ( i18n .Data.Singular 1 ) | default .Data.Singular ) | title -}} {{- print ": " -}}
                        </span>
                        {{- end -}} {{- if eq .Data.Singular "author" -}} {{- partial "data/author/displayName" . -}} {{- else -}} {{- .Title -}}
                        {{- end -}}

                    </h1>

                    {{ with .Description }}
                    <p class='subtitle'>
                    {{- . -}}
                    </p>
                    {{ end }}


        <section class="visual-area text-center">
            <div class="visual">
                {{ if eq .Kind "home" }}
                <h3>{{ .Site.Title }}</h3>
                {{ else }}
                <p>{{ .Site.Title }}</p>
                {{ end }}
                <p>{{ .Site.Params.info.description }}</p>
            </div>
        </section>

        <section class='container'>
            <article class="post">
                <h3 class="title mb-10">Latest</h3>

                {{ range .Paginator.Pages }}
                    {{ .Render "li" }}
                {{ end }}

                {{ partial "nav/pagination" . }}

            </article>
        </section>
    </div>

    {{ partial "footer/footer" . }}

    {{- partial "footer/scripts" . -}}

</body>

{{ end }}
