{{ define "main" }}
{{ partial "header" . }}

<div id='main' class='container'>
    <header class='header-container'>
        <div class='header list-header'>
            <div class='header-info'>
                <h1 class='title'>
                    {{- if eq .Kind "taxonomy" -}}
                    <span class='taxonomy-type'>
                        {{- ( ( i18n .Data.Singular 1 ) | default .Data.Singular ) | title -}} {{- print ": " -}}
                    </span>
                    {{- end -}} {{- if eq .Data.Singular "author" -}} {{- partial "data/author/displayName" . -}} {{- else -}} {{- .Title -}}
                    {{- end -}}
                </h1>

                {{ partial "header/subtitle" . }}
            </div>
        </div>
    </header>

    {{ if .Content }}
    <div class='entry'>
        {{ partial "entry/content" . }}
    </div>
    {{ end }}

    <section class='container'>
        <article class="post">
            {{ range .Paginator.Pages }}
                {{ .Render "li" }}
            {{ end }}

            {{ partial "nav/pagination" . }}
        </article>
    </section>
</div>

{{ partial "footer" . }}
{{ end }}
