{{ define "main" }}

<div class="offcanvas-wrapper page-body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row col-lg-12">

                    {{- partial "content/info" . -}}

                </div>

                <div class="page-con">

                    {{- partial "content/frontmatter" . -}}

                    {{- if .Params.cover -}}
                        {{- partial "content/cover" . -}}
                    {{- end -}}

                    {{- .Content -}}

                    {{- partial "content/series" . -}}

                    <div class="single-post-footer">

                        {{ partial "meta/tags" . }}

                        {{- partial "component/social/share" . -}}

                        <div class="foot-author row">
                            <div class="col-lg-6 col-md-6 col-sm-12 ">
                                <div class="author">
                                    <a href="{{ "/authors/" | relLangURL }}{{ ( index .Params.authors 0 ) | urlize }}">

                                        {{ partial "meta/author" . }}

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{- partial "component/comments" . -}}

                </div>

                {{ partial "component/paging/pager" . }}

            </div>
        </div>
    </div>
</div>

{{ end }}
