{{ define "main" }}

<body naver_screen_capture_injected="true" class="hasScrollbar">

    {{ partial "header/header" . }}

    <div class="offcanvas-wrapper page-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">

                    {{ partial "meta/author" . }}

                    <div class="page-con">

                        {{- partial "content/info" . -}}

                        {{- partial "content/cover" . -}}

                        {{- partial "content/toc" . -}}

                        {{ .Content }}

                        {{- partial "content/tag-list" . -}}

                        {{- partial "component/recommend" . -}}

                        {{- partial "component/comments" . -}}

                    </div>

                    {{ partial "component/entry_nav" . }}

                </div>
            </div>
        </div>
    </div>

    {{ partial "footer/footer" . }}

    {{ partial "component/scroll-back" . }}

    {{- partial "footer/scripts" . -}}

</body>

{{ end }}
