{{ define "main" }}

<body naver_screen_capture_injected="true" class="hasScrollbar">

    {{ partial "nav/menus/mobile" . }}

    {{ partial "header/header" . }}

    <div class="offcanvas-wrapper page-body">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">

                    {{ partial "single/author" . }}

                    <div class="page-con">

                        {{ partial "single/info" . }}

                        {{ partial "single/cover" . }}

                        {{ partial "single/toc" . }}

                        {{ .Content }}

                        {{ partial "single/tag" . }}

                        {{ partial "single/recommend" . }}

                        {{ partial "single/comments" . }}

                    </div>

                    {{ partial "component/entry_nav" . }}

                </div>
            </div>
        </div>
    </div>

    {{ partial "footer/footer" . }}

    {{- partial "footer/scripts" . -}}

</body>

{{ end }}
