{{ define "main" }}

<body naver_screen_capture_injected='true' class='hasScrollbar'>

    {{ partial "header/header" . }}

    <div class='offcanvas-wrapper'>

        {{ partial "home/intro" . }}

        {{- with .Site.Params.settings.homepageSections -}}
            {{- range . -}}
                {{- partial ( print "home/" . ) $ -}}
            {{- end -}}
        {{- else -}}
            {{- partial "home/main-posts" . -}}
        {{- end -}}

        {{ partial "component/load-more" . }}

    </div>

    {{ partial "footer/footer" . }}

    {{- partial "footer/scripts" . -}}

</body>

{{ end }}
