<form class="site-search" method="get">
    <input data-search-input id="search-by" type="text" name="site_search" placeholder="{{T "Search-placeholder"}}">
    <div class="search-tools">
        <span class="clear-search">Clear</span>
        <span class="close-search">
            <i class="icon-cross"></i>
        </span>
    </div>
</form>
<div class="site-branding">
    <div class="inner">
        <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
        <a class="site-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
</div>
<nav class='site-menu'>
    <ul>
        {{ range .Site.Menus.main }}
        {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
        <li {{ if $isCurrent -}} class='has-megamenu active' {{ end -}}>
            <a href='{{ .URL }}'>
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>

<div class="toolbar">
    <div class="tools">
        <ul class="sns">

            {{- partial "component/social/share" $ -}}

        </ul>
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
</div>
