{{- partial "component/search" . -}}

<div class="site-branding">
    <div class="inner">
        <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
        <a class="site-logo" href="{{ .Site.BaseURL }}">{{ .Site.Params.info.home }}</a>
    </div>
</div>
<nav class='site-menu'>
    <ul>
        {{ range .Site.Menus.main }}
        {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
        <li {{ if $isCurrent -}} class='has-megamenu active' {{ end -}}>
            <a href='{{ .URL }}'>
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>

<div class="toolbar">



    <div class="tools">
        <ul class="sns">
                <li>
                    <a class='social-button' href='{{ .Site.RSSLink }}' target='_blank' rel='noopener'>
                        <i class='fa fa-rss' aria-hidden='true'></i>
                    </a>
                </li>
        </ul>
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </div>
</div>
