<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu">
    <nav class="offcanvas-menu">
        <ul class="menu">
            {{ range .Site.Menus.main }}
            {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
            <li {{ if $isCurrent -}} class='has-children active' {{ end -}}>
                <span>
                    <a href='{{ .URL }}'>
                        <span>{{- .Name -}}</span>
                    </a>
                </span>
            </li>
            {{ end }}
        </ul>
    </nav>
</div>
