<form class="site-search" method="get">
    <input id="search" type="text" name="site_search" placeholder="Type to search...">
    <div class="search-tools">
        <span class="clear-search">Clear</span>
        <span class="close-search">
            <i class="icon-cross"></i>
        </span>
    </div>
</form>
<div class="site-branding">
    <div class="inner">
        <a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
        <a class="site-logo" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
</div>
<nav id='main-menu' class='site-menu' aria-label='{{ i18n "mainMenu" }}'>
    <ul>
        {{ range .Site.Menus.main }}
        {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
        <li {{ if $isCurrent -}} class='has-megamenu active' aria-current='page' {{ end -}}>
            <a href='{{ .URL }}'>
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>

<div class="toolbar">
    <div class="inner">
        <div class="sns">
            {{- if not .Site.Params.settings.hideSocialMenu -}}
            {{- $social := ( .Site.Params.social ) -}}
            {{- range $platform := $social.config.platforms -}}
                {{- with $username := ( index $social $platform ) -}}
                    <a class='social-button' href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
                        <i class='fa fa-{{- $platform -}}' aria-hidden='true'></i>
                    </a>
                {{- end -}}
            {{- end -}}
            {{- end -}}
            <a class="social-button" href="#" target="_blank">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
        </div>
        <div class="tools">
            <div class="search">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
