{{ if gt .Paginator.TotalPages 1 }}
<div class="col-lg-12 text-center">

    {{ with .Paginator.Prev }}
    <a class='btn btn-load' href='{{ .URL }}'>
        {{- partial "svg/icons" "prev" -}}
    </a>
    {{ end }}

    {{- $.Scratch.Set "hasPrevDots" false -}}
    {{- $.Scratch.Set "hasNextDots" false -}}

    {{ range .Paginator.Pagers }}
      {{ if ( eq . $.Paginator ) }}
      <a href="#" class="btn btn-load active">{{- .PageNumber -}}</a>
      {{ else if or ( or ( eq . $.Paginator.First ) ( eq . $.Paginator.Prev ) ) ( or ( eq . $.Paginator.Next ) ( eq . $.Paginator.Last ) ) }}
      <a href="{{ .URL }}" class="btn btn-load">{{- .PageNumber -}}</a>
      {{ else }}
        {{ if and ( not ( $.Scratch.Get "hasPrevDots" ) ) ( lt .PageNumber $.Paginator.PageNumber )  }}
          {{- $.Scratch.Set "hasPrevDots" true -}}
          <span href="#" class="btn btn-load"></a>&hellip;</span>
        {{ else if and ( not ( $.Scratch.Get "hasNextDots" ) ) ( gt .PageNumber $.Paginator.PageNumber ) }}
          {{- $.Scratch.Set "hasNextDots" true -}}
          <a href="#" class="btn btn-load">&hellip;</a>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ with .Paginator.Next }}
    <a class='btn btn-load' href='{{ .URL }}'>
      {{- partial "svg/icons" "next" -}}
    </a>
    {{ end }}
</div>
{{ end }}
