{{- $config := ( .Site.Params.settings.hideEntryNavigation ) -}}
{{- $configType := ( printf "%T" $config ) -}}

{{- if ( eq $configType "bool" ) -}}
  {{- $.Scratch.Set "showEntryNav" ( not $config ) -}}
{{- else -}}
  {{- $.Scratch.Set "showEntryNav" ( not ( in $config .Section ) ) -}}
{{- end -}}

{{- if ( $.Scratch.Get "showEntryNav" ) -}}

{{ if gt ( len ( where .Site.RegularPages "Section" .Section ) ) 1 }}
<div class="mt-30 row">

    {{- if .PrevInSection -}}
    <div class="col-md-6 post-pre">
        <a href='{{ .PrevInSection.Permalink | relURL }}'>
            <div class="author">
                <img class="img-circle" alt="" src="img/user/user-ava-md.png" />
                <div class="author-info">
                    <h2 class="post-title">{{- .PrevInSection.Title -}}&nbsp;{{- .PrevInSection.Authors -}}</h2>
                    {{- with .PrevInSection.Authors -}}
                    {{- range $i, $authorID := . -}}
                    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                    {{- $length := ( len $.Site.Data.authors ) -}}
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</a>
                    </h3>
                    <p>{{- $author.info.description -}}</p>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </a>
    </div>
    {{- end -}}

    {{- if .NextInSection -}}
    <div class="col-md-6 post-next">
        <a href='{{ .NextInSection.Permalink | relURL }}'>
            <div class="author">
                <img class="img-circle" alt="" src="img/user/user-ava-md.png">
                <div class="author-info">
                    <h2 class="post-title">{{- .NextInSection.Title -}}</h2>
                    {{- with .Params.authors -}}
                    {{- range $i, $authorID := . -}}
                    {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                    {{- $length := ( len $.Site.Data.authors ) -}}
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</h3>
                    <p>{{- $author.info.description -}}</p>
                    {{- end -}}
                    {{- end -}}
                </div>
            </div>
        </a>
    </div>
    {{- end -}}
</div>
{{ end }}
{{- end -}}
