
<div class="mt-30 row">

    {{- if .PrevInSection -}}
    <div class="col-md-6 post-pre">
        <a href='{{ .PrevInSection.Permalink | relURL }}'>
            <div class="author">
                {{- $title := .PrevInSection.Title -}}
                {{- with .PrevInSection.Params.authors -}}
                {{- range $i, $authorID := . -}}
                {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                <img class="img-circle" alt="" src="{{ $.Site.BaseURL | relURL }}{{ $author.info.image }}"/>
                <div class="author-info">
                    <h2 class="post-title">{{ $title }}</h2>
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</a>
                    </h3>
                    <p>{{- $author.info.description -}}</p>
                </div>
                {{- end -}}
                {{- end -}}
            </div>
        </a>
    </div>
    {{- end -}}

    {{- if .NextInSection -}}
    <div class="col-md-6 post-next">
        <a href='{{ .NextInSection.Permalink | relURL }}'>
            <div class="author">
                {{- $title := .NextInSection.Title -}}
                {{- with .NextInSection.Params.authors -}}
                {{- range $i, $authorID := . -}}
                {{- $author := ( index $.Site.Data.authors $authorID ) -}}
                <img class="img-circle" alt="" src="{{ $.Site.BaseURL | relURL }}{{ $author.info.image }}"/>
                <div class="author-info">
                    <h2 class="post-title">{{- $title -}}</h2>
                    <h3>{{- $author.name.display -}}{{ $.LanguagePrefix }}</h3>
                    <p>{{- $author.info.description -}}</p>
                </div>
                {{- end -}}
                {{- end -}}
            </div>
        </a>
    </div>
    {{- end -}}
</div>
