<link rel='icon' href='{{ ( or .Site.Params.assets.favicon "favicon.ico" ) | relURL }}'>
<!-- <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="icon" type="image/png" href="favicon.png"> -->

<link rel='apple-touch-icon' href='touch-icon-iphone.png'>
<link rel='apple-touch-icon' sizes='152x152' href='touch-icon-ipad.png'>
<link rel='apple-touch-icon' sizes='180x180' href='touch-icon-iphone-retina.png'>
<link rel='apple-touch-icon' sizes='167x167' href='touch-icon-ipad-retina.png'>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<link rel='stylesheet' href='{{ print "/assets/css/" .Site.Data.assets.main.css | relURL  }}'>

<!-- <link rel="stylesheet" media="screen" href="/docs/assets/css/bootstrap.css">
<link id="mainStyles" media="screen" href="/docs/assets/css/common.css">
<link rel="stylesheet" type="text/css" href="/docs/assets/css/font-awesome.css"> -->

{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}}
{{ with .OutputFormats.Get "rss" -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}

{{- range .Site.Params.assets.customCSS -}}
  <link rel='stylesheet' href='{{ . | relURL }}'>
{{- end -}}

<style type="text/css">
:root #header + #content > #left > #rlblock_left{
    display:none !important;
}
{{- if .Site.Params.clipboard.disableInlineCopyToClipBoard -}}
    :not(pre) > code + span.copy-to-clipboard {
        display: none;
    }
{{- end -}}
</style>
